body{
    margin: 0;
}

.content-wrapper{
    max-width: 800px;
    width: 100%;
    height: 2950px;
    margin: 0 auto;
    background-color: #F8F2E7;
    font-family: "Baskervville", serif;
    padding-top: 60px;
}
.title{
    width: 570px;
    text-align: center;
    font-size: 53px;
    font-weight: 100;
    margin: 0 auto;
}
#rat{
    width: 110px;
    position: absolute;
    transform: translate(563px, -258px);
}
#person{
    width: 250px;
    display: block;
    margin: 0 auto;
}
.intro-text{
    width: 450px;
    margin: 0 auto;
    margin-top: 150px;
    font-size: 18px;
}
#text-2{
    margin-top: 15px;
}
#text-3{
    margin-top: 20px;
    margin-bottom: 30px;
}
#text-4{
    margin-top: 30px;
}
#text-5{
    margin-top: 30px;
}
.results{
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    grid-template-rows: auto auto; /* Two rows with automatic height */
    grid-template-columns: auto auto; /* Two columns with automatic width */
    gap: 10px; 
}
.grid-item{
    margin: 20px 30px 20px 35px;
}
.results-header{
    font-size: 20px;
    margin-top: 5px;
}
.results p{
    font-size: 16px;
    margin-top: 0;
}
#passed{
    width: 300px;
}
#bait{
    width: 260px;
}
#failed{
    width:180px;
}
#map{
    width: 800px;
}
.live-dashboard{
    width: 400px;
    margin: 0 auto;
}
.live-data{
    width: 640px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 150px;
    font-weight: 100;
    font-size: 27px;
}
#best-name{
    background-color: #e9f893;
    font-style: italic;
}
#best-number{
    font-weight: 700;
    background-color: #e9f893;
}
#worst-name{
    background-color: #ffac85;
    font-style: italic;
}
#worst-number{
    background-color: #ffac85;
    font-weight: 700;
}
.bullet-points{
    display: grid;
    grid-template-rows: auto auto auto; /* Two rows with automatic height */
    grid-template-columns: auto auto;
    padding-left: 10px;
    margin-top: 10px;
    line-height: 16px;
}
.list-1{
    margin-top: 10px;
}
.prevention{
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 16px;
}
.prevention-list{
    margin-top: 10px;
}
.fight-gif{
    margin-left: 40px;
}
.fight-gif img{
    width: 700px;
}
